.NoteList {
  position: absolute;
  top: 0rem;
  left: 50%;
  translate: -50% 0;
  z-index: 1;
}

.Note {
  list-style: none;

  & > * {
    padding: 0.5rem 1rem;

    box-shadow: 0.125rem 0.125rem 0 0 var(--shadow-color);

    box-shadow:
      0.25rem 0.25rem 0 0 var(--c-neo-black),
      0 0 0 0.5px white,
      0.25rem 0.25rem 0 0.5px white,
      0 0 75px rgba(0 0 0 / 0.25);

    border-radius: 0.5rem;
    border: solid 2px var(--c-neo-black);

    background-color: var(--c-neo-teal);
    color: var(--c-neo-black);

    pointer-events: none;

    max-width: 40ch;
    min-width: 15ch;
    line-height: 1.5;
  }
}
