.NoteList {
  position: absolute;
  top: 0rem;
  left: 50%;
  translate: -50% -2px;
  z-index: var(--z-toast);
  width: 100%;
  padding: 0;
}

.Note {
  list-style: none;

  & > * {
    /* Must use margin button of the visible element to push down the next note. Can't be on the
    wrapper since that needs to animation to height zero.  */
    margin-bottom: 1rem;

    padding: 0.5rem 1rem;

    box-shadow: 2px 2px 0 0 var(--shadow-color);

    box-shadow:
      2px 2px 0 0 var(--c-neo-black),
      0 0 75px rgba(0 0 0 / 0.25);

    border-radius: 8px;
    border: solid var(--border-width) var(--c-neo-black);

    background-color: var(--c-neo-teal);
    color: var(--c-neo-black);

    pointer-events: none;

    max-width: 40ch;
    min-width: 15ch;
    line-height: 1.5;
  }
}
