.Dialog {
  --export-bg-color: var(--c-neutral-50);
  --export-border-color: var(--c-neo-black);
  position: fixed;
  margin: 0;
  inset-block-start: 8rem;
  inset-inline-start: auto;
  inset-inline-end: 5rem;
  border: solid 2px var(--export-border-color);
  border-radius: 1rem;
  padding: 0rem;

  /* This is needed for the tail */
  overflow: visible;

  --bg: var(--c-neo-teal);
  --bg: var(--c-neo-white);
  background: var(--bg);

  &.is-open {
    box-shadow:
      0.25rem 0.25rem 0 0 var(--c-neo-black),
      0 0 0 1px white,
      0.25rem 0.25rem 0 1px white;

    &::backdrop {
      opacity: 1;
    }
  }

  &::backdrop {
    transition: opacity 150ms ease;
    background: rgba(0 0 0 / 0.11);
    opacity: 0;
  }

  h2 {
    font-size: var(--sz-large);
  }
}

.Dialog__tail {
  color: var(--c-bg);
  color: var(--c-neo-white);
  color: var(--bg);
  filter: drop-shadow(0 -2px 0 var(--export-border-color));
  position: absolute;
  top: -15px;
  right: 30px;
}

.Dialog__footer {
  background-color: var(--c-neo-white);
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
}
