.ExportDialog__output {
  background-color: var(--c-gray-50);
  color: var(--c-gray-900);
  font-size: var(--sz-small);

  width: 45ch;
  max-width: 100%;
  min-height: 1rem;

  min-height: 5rem;
  height: 30rem;
  max-height: min(40vh, calc(100vh - 30rem));

  overflow: auto;
}
