.ExportDialog__output {
  background-color: var(--c-gray-50);
  color: var(--c-gray-900);
  font-size: var(--sz-small);

  width: 45ch;
  min-height: 1rem;

  min-height: 5rem;
  max-height: calc(100vh - 35rem);

  overflow: auto;
}
