.Select {
  position: relative;
}

.Select > select {
  appearance: none;
  border: solid var(--border-width) var(--border-color);
  border-radius: 0;
  padding: 0.25rem;
  display: block;
  width: 100%;
  background-color: white;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;
    box-shadow: 0.125rem 0.125rem 0 0 var(--shadow-color);

    &:focus-visible.focus-visible {
      outline: solid var(--outline-width) var(--outline-color);
      outline-offset: var(--outline-offset);
      box-shadow: 0 0 0 2px var(--c-neo-white);
    }
  }

  &:disabled {
    border-color: gray;

    & + svg {
      color: gray;
    }
  }
}

.Select > svg {
  color: inherit;
  position: absolute;
  pointer-events: none;
  right: calc(0.5rem + 2px);
  top: calc(0.25rem + 2px);
}
