.Segmented {
  appearance: none;
  padding: 0;
  border: solid var(--border-width) var(--border-color);
  display: flex;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  font-size: var(--sz-small);

  &:not(:has(:focus-visible)) {
    box-shadow: 0.125rem 0.125rem 0 0 var(--shadow-color);
  }

  &:has(:focus-visible) {
    outline: solid var(--outline-width) var(--c-neo-blue);
    outline-offset: var(--outline-offset);
  }
}

.Segmented__button {
  &,
  & > * {
    cursor: pointer;
  }

  &:active:not(:disabled),
  &[aria-pressed="true"] {
    filter: brightness(0.9);
  }

  background-color: white;
  padding: 0.25rem 0.5rem;
  text-align: center;
  flex: auto;
  user-select: none;

  /* leading border to separate each button */
  &:not(:first-child) {
    border-inline-start: solid var(--border-width);
    border-color: inherit;
  }

  &:has(:checked) {
    &,
    &:has(:checked) + * {
      border-color: var(--c-neo-blue);
    }

    background-color: var(--c-blue-500);
    color: white;
  }

  & > input {
    position: absolute;
    clip-path: inset(50%);
    opacity: 0.01;
  }
}
