.timeline {
  display: block;
  position: absolute;

  /* Inset is used to overflow drawing of the dots and text near the edge. We offset the position so
  we can have a large canvas that takes up the same physical size. The extra 20px of height is 10+10
  for that.*/
  inset: -10px;
  height: 100%;

  width: 100%;

  &:focus {
    outline: none;
  }
}

.inspector-sidebar {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 18rem;
  align-items: stretch;
}

.tile {
  border: solid 2px var(--c-neo-black);
  padding: 1rem;
  background-color: white;
  background-color: var(--c-neo-white);
  box-shadow: 0.25rem 0.25rem 0 0 var(--c-neo-black);
}

.timeline-wrapper {
  position: relative;

  /* This timeline visually overflow a bit (the text and focus outline)--10 on each edge */
  min-height: 350px;
  margin-inline-end: -20px;
  margin-block-end: -20px;
}

.timeline-message {
  position: absolute;
  translate: -50% 0;
  inset-inline-start: 50%;
  top: 1rem;

  margin: 0 auto;
  padding: 0.25rem 0.5rem;

  border: solid 1px var(--c-sky-800);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 10px rgba(0 0 0 /0.1);
  color: var(--c-sky-800);
  background-color: var(--c-sky-50);
  font-size: var(--sz-small);

  pointer-events: none;
  transition: all 300ms 200ms ease-in-out;

  .timeline-wrapper:hover & {
    opacity: 0;
    translate: -50% -50%;
  }
}

#root .is-dialog-open :where(button, label, .RadioTab) {
  filter: grayscale(0.75);
}
