.Banner {
  background-color: #fff;
  border-block-end: solid 2px var(--c-neo-black);
}

.Banner__nav {
  padding-inline: 0.125rem;
}

.Banner__title {
  color: var(--c-neo-black);
  padding-block: 0.5rem;
}

.Banner__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--c-neo-black);
  padding: 0.5rem 1rem;

  padding-block-end: 0.5rem;

  border: solid transparent;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-width: 2px 2px 0 2px;

  position: relative;

  &[aria-current="page"] {
    color: var(--c-neo-black);
    background-color: var(--c-bg);
    border-color: var(--c-neo-black);
    box-shadow: 2px 2px 0 0 var(--c-neo-black);
    display: block;

    /* Obscure the bottom border sow that tab appears on top. We could move it and size it to the
    same as the border, but at some scaling factors a bit might show through, so make it a bit
    larger. */
    &:not(:focus-visible)::after {
      content: "";
      inset-inline: 0;
      bottom: -3px;
      height: 4px;
      width: 100%;
      position: absolute;
      background-color: var(--c-bg);
    }
  }

  cursor: default;

  &:not([aria-current="page"]) {
    cursor: pointer;

    background-color: #e8e8e8;

    &:hover,
    &:focus-visible {
      background-color: #d9d9d9;
    }
  }

  &:focus-visible {
    border-color: white;
    outline: solid var(--outline-width) var(--outline-color);
    outline-offset: 0px;
    box-shadow: none;
  }
}
