:rootx {
  --outline-color: var(--c-neo-black);
  --outline-color: var(--c-neo-blue);
  --outline-width: 3px;
  --outline-offset: 2px;

  --border-color: var(--c-neo-black);
  --border-width: 2px;

  --shadow-color: var(--border-color);
}
