.h-screen {
  height: 100vh;
}

.row {
  display: grid;
  grid-template-columns: minmax(min-content, 1700px);
  justify-content: center;

  padding-inline: 1rem;
}

.row {
  & + & {
    margin-top: 1rem;
  }
}
