.min-h-screen {
  min-height: 100vh;
}

.wrapper {
  /* Need width in case this is nested in a flex-col */
  width: 100%;

  min-width: 500px;
  max-width: 1700px;

  padding-inline: 1rem;
  margin-inline: auto;
}

.wrapper-small {
  /* Need width in case this is nested in a flex-col */
  width: 100%;

  /* min-width: 500px; */
  max-width: 90ch;

  padding-inline: 1rem;
  margin-inline: auto;
}
