.min-h-screen {
  min-height: 100vh;
}

.wrapper {
  /* Need width in case this is nested in a flex-col */
  width: 100%;

  min-width: 500px;
  max-width: 1700px;

  padding-inline: 1rem;
  margin-inline: auto;

  @media (width < 750px) {
    min-width: 0;
  }
}

.tinted-wrapper\:sm {
  @media (width < 750px) {
    background-image: linear-gradient(rgba(0 0 0 / 0.1), transparent 20%);
    margin-block-start: 1rem;
  }
}

.wrapper-small {
  /* Need width in case this is nested in a flex-col */
  width: 100%;

  /* min-width: 500px; */
  max-width: 80ch;

  padding-inline: 1rem;
  margin-inline: auto;
}
