@import "./range.css";
@import "tailwindcss";

@theme {
  /* TODO: this matches @media queries. Maybe change to rem */
  --breakpoint-sm: 750px;
  --shadow-hard: 2px 2px 0 0 black;
  --shadow-inset-hard: inset 1px 1px 0 0 black;
  --shadow-hard-1: 1px 1px 0 0 black;

  --color-disabled: var(--color-gray-500);
  --color-neo-orange: #ffb800;
  --color-neo-blue: #006dea;
  --color-neo-white: #f5f5f5;
  --color-danger: #ff2683;
  --color-neo-teal: #4ccdc0;

  --z-index-sticky: 10;
  --z-index-floating: 20;
  --z-index-menu: 30;
  --z-index-dialog: 40;
  --z-index-toast: 50;
  --z-index-tooltip: 60;
}

/* Custom focus outline style. Normally used with focus:visible */
@utility focus-outline {
  @apply outline-neo-blue outline-3 outline-offset-2;
}

@utility border-neo {
  @apply border-2 border-black;
}

/* hides element exactly at breakpoint */
@layer utilities {
  .hidden-at-small {
    @media (width < theme("breakpoint.sm")) {
      @apply hidden;
    }
  }
}

/* Buttons */
@layer components {
  .button {
    @apply text-disabled border-disabled min-w-[12ch] rounded-full border-2 px-6 py-2 leading-none text-balance select-none;
    @apply enabled:bg-neo-blue enabled:shadow-hard hover:brightness-110 enabled:border-black enabled:text-white;
    @apply active:shadow-hard-1 enabled:cursor-pointer enabled:active:brightness-90;
    @apply outline-neo-blue ring-white outline-offset-2 focus:shadow-none focus:ring-2 focus:outline-3;
  }

  .button.is-danger {
    @apply enabled:bg-danger;
  }

  .button.is-secondary {
    @apply hover:brightness-95 active:brightness-90 enabled:bg-white enabled:text-black;
  }
}

/* Split buttons. Use two or more next to each other in same parent w/ no other sibling for a unified look */
@layer components {
  .split-button {
    @apply bg-neo-blue inline-flex items-center justify-center px-6 py-2 leading-none text-white select-none first:rounded-s-full last:rounded-e-full;
    @apply enabled:cursor-pointer enabled:active:brightness-90;
    @apply shadow-hard active:shadow-hard-1;

    /* border in on start of first, but no others so that it appears between the buttons (no double border) */
    @apply border-2 border-s-0 border-black first:border-s-2;
    /* but when focus is visible we show all borders. That means the button before this hides its end border. This is so the focus ring circles the entire apparent border */
    @apply focus-visible:z-10 focus-visible:border-s-2 focus-visible:ring-2 focus-visible:outline-3 [&:has(+:focus-visible)]:border-e-0;
    @apply outline-neo-blue relative ring-white outline-offset-2;
  }
}

@layer components {
  .textbox {
    @apply border-neo shadow-inset-hard bg-white p-1 leading-none;
    @apply focus-visible:focus-outline;
    @apply disabled:border-disabled disabled:text-disabled disabled:bg-white/50 disabled:shadow-none;
    @apply not-[:is(:focus,:valid)]:border-danger;
  }
}

@layer base {
  /* XXX: this feels too general */
  .j-prose code,
  kbd {
    @apply border-1 border-black/10;
    @apply rounded-sm bg-black/5 px-1 py-0.5;
    @apply font-mono;

    /* invert colors of help in a "dark area" like the popup help dialog */
    .dark-area & {
      @apply border-white/50 bg-white/30;
    }
  }

  /* Recenter dialogs that Tailwind un-sets */
  dialog {
    @apply fixed inset-0 m-auto;
  }

  /* for use in .mdx content. Like Tailwind Typography plugin */
  .j-prose {
    h1,
    h2,
    h3 {
      @apply font-bold;
    }

    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-lg;
    }

    a {
      @apply underline decoration-2;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-[square];
    }

    ul,
    ol {
      @apply ps-10;
    }

    p,
    li {
      @apply text-pretty;
    }
  }
}
