/* .flex {
  display: flex;
} */

/* .flex-col {
  display: flex;
  flex-direction: column;
} */

/* .grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.flex-none {
  flex: none;
}

.shrink {
  flex-shrink: 1;
} */

.stack-large > * + * {
  margin-block-start: 1.75rem;
}

/** Basic layout util of stack the contents with consistent spacing. Note that a child can opt out
 * of this if it's mt-0, usually for animation purposes.*/
.stack > :where(* + *) {
  margin-block-start: 1.125rem;

  @media (width < 750px) {
    margin-block-start: 1rem;
  }
}

.stack-small > * + * {
  margin-block-start: 0.5rem;
}

/**
 * Usually a stack just has space between the children. If you add this, the last item gets padding
 * below too. That's needed full height pages there the padding on the page will not be scrolled
 * into view if it overflow, so we need padding on the last layout item to add that space. Still
 * using this instead of margin on top and bottom to ensure it works even when margin collapse is
 * prevented, plus margins will NOT be scrolled to in an overflow of the page.
 */
.stack--trail > *:last-child {
  padding-block-end: 1.125rem;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-2-auto {
  display: flex;

  & > *:not(.flex-none) {
    flex-grow: 1;
  }
}

/* .hidden\:sm {
  @media (width < 750px) {
    display: none;
  }
}

.hidden\:lg {
  @media (width >= 750px) {
    display: none;
  }
} */

.overflow-hidden {
  overflow: hidden;
}

/* .p-0 {
  padding: 0;
}

.pt-4 {
  padding-block-start: 1rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mx-4 {
  margin-inline: 1rem;
} */

.mt-stack {
  margin-block-start: 1.125rem;
}

.mt-0 {
  margin-block-start: 0 !important;
}

.mt-8 {
  margin-block-start: 2rem;
}

.mt-16 {
  margin-block-start: 4rem;
}

.py-4 {
  padding-block: 1rem;
}

.px-4 {
  padding-inline: 1rem;
}

.pb-4 {
  padding-block-end: 1rem;
}

.mt-neg-4\:lg {
  @media (width >= 750px) {
    margin-block-start: -1rem;
  }
}

.mb-stack,
.mb-1\.5 {
  margin-block-end: 1.125rem;
}

.mb-stack\:lg {
  @media (width >= 750px) {
    margin-block-start: 1.125rem;
  }
}

.mb-4 {
  margin-block-end: 1rem;
}

.mb-16 {
  margin-block-end: 4rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.ml-auto {
  margin-inline-start: auto;
}

.origin-top-right {
  transform-origin: top right;
}
.origin-top-center {
  transform-origin: top center;
}

.min-h-px {
  min-height: 1px;
}

.min-w-px {
  min-width: 1px;
}

.text-end {
  text-align: end;
}

/* .text-center {
  text-align: center;
} */

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .underline {
  text-decoration: underline;
} */

.bg-teal {
  background-color: var(--c-neo-teal);
}

.bg-blue {
  background-color: var(--c-neo-blue);
}

.color-white {
  color: var(--c-neo-white);
}

.color-black {
  color: var(--c-neo-black);
}

.scale-2 {
  transform: scale(2);
}
