.Segmented {
  appearance: none;
  padding: 0;
  border: solid 1px var(--c-gray-500);
  display: flex;
  /* font-size: var(--sz-small); */
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  justify-items: center;
  justify-content: center;

  &:has(:focus-visible) {
    outline: solid 2px var(--c-blue);
    outline-offset: 1px;
  }
}

.Segmented__button {
  &,
  & > * {
    cursor: pointer;
  }

  background-color: white;
  padding: 0.125rem 0.5rem;
  text-align: center;
  flex: auto;

  /* leading border to separate each button */
  &:not(:first-child) {
    border-inline-start: solid 1px;
    border-color: inherit;
  }

  /*  */
  &:has(:checked) {
    &,
    &:has(:checked) + * {
      border-color: var(--c-blue);
    }

    background-color: var(--c-blue-500);
    color: white;
    /* text-shadow: 0px 0px 2px rgba(0 0 0 / 0.7); */
  }

  & > input {
    position: absolute;
    clip-path: inset(50%);
    opacity: 0.01;
  }
}
