.SplitButtons {
  --radius: 0.5rem;
  --color: var(--c-neutral-100);
}

.SplitButtons > button {
  appearance: none;
  color: var(--color);

  border: none;
  padding: 0.375rem 1rem;
  position: relative;

  background-color: var(--c-green-700);
  border: solid 1px var(--c-green-700);

  &:hover {
    background-color: var(--c-green-800);
  }
  &:active {
    background-color: var(--c-green-900);
  }

  &:enabled {
    cursor: pointer;
  }

  &:first-child,
  &:focus-visible {
    border-start-start-radius: var(--radius);
    border-end-start-radius: var(--radius);
  }

  &:last-child,
  &:focus-visible {
    border-start-end-radius: var(--radius);
    border-end-end-radius: var(--radius);
  }

  &:focus-visible {
    z-index: 1;
    outline-offset: 2px;
    border-color: white;
  }

  /* Button vertical separator */
  &:not(:first-child)::before {
    display: block;
    position: absolute;
    height: 65%;
    width: 1px;
    border-inline-start: solid 1px var(--color);
    content: "";
    left: -0px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 100ms;
    opacity: 0.75;
  }

  &:is(:hover, :focus-visible)::before {
    opacity: 0;
  }

  &:is(:hover, :focus-visible) + &::before {
    opacity: 0;
  }
}
