.SplitButtons {
  --sb-radius: 0rem;
  --sb-radius: 0.5rem;
  --sb-radius: 999px;

  --sb-bg-color: var(--c-neo-blue);

  --sb-color: var(--c-neo-white);
  --sb-color: white;

  /* min-width: 18rem; */
}

.SplitButtons > button {
  appearance: none;
  background-color: var(--sb-bg-color);
  color: var(--sb-color);
  padding: 0.5rem 1.5rem;
  position: relative;

  &.is-secondary {
    color: var(--c-neo-black);
    background-color: white;
    background-color: var(--c-neo-white);
  }

  &.is-small {
    padding: 0.25rem 0.75rem;
  }

  border: 2px solid var(--c-neo-black);

  & + & {
    border-inline-start-style: none;
  }

  &:not(:active) {
    box-shadow: 2px 2px 0 0 var(--c-neo-black);
  }

  &:hover,
  &.is-pressed {
    filter: brightness(0.95);
  }

  &:active {
    transition: box-shadow 100ms;
    filter: brightness(0.9);
    box-shadow: 1px 1px 0 0 var(--c-neo-black);
  }

  &:enabled {
    cursor: pointer;
  }

  &:focus-visible {
    outline: solid 2px white;
    outline-offset: -4px;
  }

  &:first-child {
    border-start-start-radius: var(--sb-radius);
    border-end-start-radius: var(--sb-radius);
  }

  &:last-child {
    border-start-end-radius: var(--sb-radius);
    border-end-end-radius: var(--sb-radius);
  }
}
