.HelpPanel {
  background-color: rgba(0 0 0 / 0.85);
  color: white;
  border: solid 2px black;
  border-radius: 1rem;

  /* box-shadow: 2px 2px 0 black; */
  box-shadow: 0 0 0 1px white;
  position: fixed;
  inset-block-start: 50vh;
  translate: 0 -50%;
  /* min-width: 40ch; */

  z-index: var(--z-popover);

  h1 {
    font-size: var(--sz-large);
  }

  transition-property: opacity, transform;
  transition-duration: 100ms;

  opacity: 0;
  transform: translateY(-10px);

  &.is-open {
    opacity: 1;
    transform: translateY(0);
  }

  kbd {
    background-color: rgba(255 255 255 / 0.25);
    border: solid 1px rgba(255 255 255 / 0.5);

    .key {
      font-size: 1.3em;
      vertical-align: middle;
    }
  }

  dl {
    display: grid;
    grid-template-columns: auto auto;
  }

  dt {
    text-align: right;
  }
  dt,
  dd {
    margin: 0;
  }
}
