.Preview {
  display: inline-grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;

  position: relative;

  &.tile {
    background-color: white;
  }
}

.Preview__frame {
  position: relative;
  border: dashed 1px #ddd;
}

.Preview__graphic {
  img {
    display: block;
  }

  &.is-animate {
    animation: var(--duration, 1000ms) linear preview-anim1 forwards var(--repeat, 1);
  }
}

.Preview__progressBar {
  position: absolute;
  bottom: 0;
  inset: 0;
}

.Preview__astro {
  width: calc(27px * 3);
  height: calc(47px * 3);
  image-rendering: pixelated;
}

.Preview__heart {
  width: 99px;
  height: 90px;
  image-rendering: pixelated;
}

.Preview__ball {
  background-color: tomato;
  border-radius: 999px;
  aspect-ratio: 1;
  width: 5rem;
  border: solid 2px red;

  &::after {
    content: "";
    aspect-ratio: 1;
    width: 1rem;
    background-color: rgba(255 255 255 / 0.8);
    position: absolute;
    border-radius: 999px;
    top: 1rem;
    left: 1rem;
  }
}
