.ProgressBar {
  background-color: var(--c-gray-100);
  position: relative;
}

.ProgressBar,
.ProgressBar__bar {
  height: 3px;
}

.ProgressBar__bar {
  background-color: var(--c-blue);
  transform-origin: left;
  scale: 0 1;

  .ProgressBar.is-playing & {
    transition: scale linear var(--duration-ms, 0);
    scale: 1 1;
  }
}
