.ProgressBar {
  position: relative;
  overflow: hidden;
}

.ProgressBar,
.ProgressBar__bar {
  height: 0.25rem;
}

.ProgressBar__bar {
  background-color: var(--c-neo-blue);
  transform-origin: left;
  scale: 0 1;

  .ProgressBar.is-playing & {
    transition: scale linear var(--duration-ms, 0);
    scale: 1 1;
  }
}
