.RadioTabGroup {
  display: flex;
  min-width: 1px;
}

.RadioTabGroup__tabWrapper:not(:first-child) {
  & > .RadioTab {
    /* leading border to separate each button */
    border-inline-start: solid var(--border-width) var(--c-neo-black);
  }
}

.RadioTabGroup__tabs {
  border-radius: 8px;
  overflow: hidden;
  border: solid 2px var(--c-neo-black);

  background-color: white;
  box-shadow: 2px 2px 0 0 var(--shadow-color);

  &:has(:focus-visible) {
    outline: solid var(--outline-width) var(--outline-color);
    outline-offset: var(--outline-offset);
    box-shadow: 0 0 0 2px white;
  }
}

.RadioTab {
  font-size: var(--sz-small);
  padding: 0.5rem 0.75rem 0.5rem 1rem;

  min-width: 5rem;
  user-select: none;
  white-space: nowrap;

  --default-tab-bg-color: var(--tab-bg-color, gray);
  color: var(--default-tab-bg-color);
  background-color: white;

  &:has(:checked) {
    color: white;
    background-color: var(--default-tab-bg-color);

    /* if tabs get really small they can overlap. Ensure the checked is on top.  */
    position: relative;
    z-index: var(--z-bump);
  }

  &:not(:disabled) {
    &:not(:has(:checked)) {
      cursor: pointer;

      &:hover {
        filter: brightness(0.97);
      }

      &:active {
        filter: brightness(0.9);
      }
    }
  }

  > label {
    cursor: inherit;
  }

  &:not(.can-delete),
  &:not(:has(:checked)) {
    .RadioTab__button {
      visibility: hidden;
      flex-shrink: 100;
    }
  }
}

.RadioTab__button {
  appearance: none;
  display: grid;
  place-items: center;
  flex-shrink: 0;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0;
  line-height: 1;

  border: none;

  background-color: var(--c-neo-white);
  color: #444;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}
