.RadioTabGroup {
  display: flex;
  min-width: 1px;
}

.RadioTabGroup__tabWrapper:not(:first-child) {
  & > .RadioTab {
    /* leading border to separate each button */
    border-inline-start: solid var(--border-width) var(--c-neo-black);
  }
}

.RadioTabGroup__tabs {
  border-radius: 8px;
  overflow: hidden;
  border: solid 2px var(--c-neo-black);

  background-color: white;
  box-shadow: 2px 2px 0 0 var(--shadow-color);

  &:has(:focus-visible) {
    outline: solid var(--outline-width) var(--outline-color);
    outline-offset: var(--outline-offset);
    box-shadow: 0 0 0 2px white;
  }
}
