.RadioTabGroup {
  display: flex;
  min-width: 1px;
}

.RadioTabGroup__tabWrapper:not(:first-child) {
  & > .RadioTab {
    margin-inline-start: 0.375rem;
  }
}

.RadioTab {
  font-size: var(--sz-small);
  padding: 0.325em 0.9375rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  min-width: 5rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  --default-tab-bg-color: var(--tab-bg-color, gray);
  background-color: white;

  border: solid 2px var(--c-neo-black);

  color: var(--default-tab-bg-color);

  border-radius: 999px;

  &:has(:checked) {
    color: white;
    background-color: color-mix(in srgb, var(--default-tab-bg-color) 100%, transparent);
    z-index: 1;
    position: relative;
  }

  > label {
    cursor: inherit;
  }

  &:not(.can-delete),
  &:not(:has(:checked)) {
    .RadioTab__button {
      visibility: hidden;
      flex-shrink: 100;

      /* width: 0; */
    }
  }

  &:last-child {
    box-shadow: 0.125rem 0.125rem 0 0 var(--shadow-color);
  }

  &:has(:focus-visible) {
    outline: solid var(--outline-width) var(--outline-color);
    outline-offset: var(--outline-offset);
    box-shadow: 0 0 0 0.125rem white;
    border-color: transparent;
    z-index: 1;
  }
}

.RadioTab__button {
  appearance: none;
  border-radius: 4px;
  border-radius: 999px;
  border: none;
  background-color: var(--c-neo-white);
  padding: 0;
  color: black;
  cursor: pointer;

  line-height: 1;

  width: 1.2rem;
  height: 1.2rem;

  display: grid;
  place-items: center;
  flex-shrink: 0;

  &:active {
    filter: brightness(0.7);
  }

  /* &:hover,
  &:focus-visible {
  } */

  &:hover {
    filter: brightness(0.9);
  }

  &:active:not(:disabled),
  &[aria-pressed="true"] {
    filter: brightness(0.9);
  }
}
