.timeline {
  display: block;
  position: absolute;

  /* Inset is used to overflow drawing of the dots and text near the edge. We offset the position so
  we can have a large canvas that takes up the same physical size. The extra 20px of height is 10+10
  for that.*/
  top: -10px;
  left: -10px;
  height: calc(100% + 20px);
  width: calc(100% + 20px);

  &:focus {
    outline: none;
  }
}

.inspector-sidebar {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 18rem;
  align-items: stretch;

  padding-block: 1rem;
  margin-block: 0px;

  /* Switch to a scroll snapping h scroller when skinny enough */
  @media (width < 750px) {
    grid-template-columns: 100% 100%;
    gap: 1.5rem;

    /* push to the edges of the page for less scroll clipping. Compensate with padding */
    margin-inline: -1rem;
    padding-inline: 1rem;
    scroll-padding-inline: 1rem;

    /* use padding instead of margin so we don't clip shadows. Small on bottom for pagination
    controls to sit tight */
    padding-block: 1rem 8px;
    margin-block: 0px;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* Hide scroll bars since this purely a touch focused slide interaction. Use the dots to show pages. */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  & > * {
    scroll-snap-align: start;
  }
}

.timeline-wrapper {
  position: relative;

  min-height: 350px;

  /* TODO: share with .tile */
  border: solid 2px var(--c-neo-black);
  box-shadow: 4px 4px 0 0 var(--c-neo-black);
}

.is-dialog-open #root :where(button, label, [data-component="RadioTab"], .DemoTile) {
  filter: grayscale(0.75);
}
