.timeline {
  display: block;
  position: absolute;

  /* Inset is used to overflow drawing of the dots and text near the edge. We offset the position so
  we can have a large canvas that takes up the same physical size. The extra 20px of height is 10+10
  for that.*/
  inset: -10px;
  height: 100%;

  width: 100%;

  &:focus {
    outline: none;
  }
}

.inspector-sidebar {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 18rem;
  align-items: stretch;
}

.tile {
  border: solid 2px var(--c-neo-black);
  padding: 1rem;
  background-color: white;
  background-color: var(--c-neo-white);
  box-shadow: 4px 4px 0 0 var(--c-neo-black);
}

.timeline-wrapper {
  position: relative;

  /* This timeline visually overflow a bit (the text and focus outline)--10 on each edge */
  min-height: 350px;
  margin-inline-end: -20px;
  margin-block-end: -20px;
}

#root .is-dialog-open :where(button, label, .RadioTab) {
  filter: grayscale(0.75);
}

.zoom-buttons {
  position: absolute;
  inset-block-end: 36px;
  inset-inline-end: 36px;
  opacity: 1;
  transition: opacity 100ms;

  .is-moving &:hover {
    opacity: 0;
  }

  .is-adding & {
    pointer-events: none;
    opacity: 0;
  }
}
