.PageIndicator {
  border-radius: 999px;
  gap: 6px;
}

.PageIndicator__dot {
  display: grid;
  place-items: center;

  color: var(--c-n);
  color: white;
  color: black;
  opacity: 0.25;
  transition: opacity 200ms;
}

.PageIndicator:not(:has(:checked)) :first-child,
.PageIndicator:has(:checked) :last-child {
  opacity: 1;
}

.PageIndicator--row {
  margin: 0;
  margin-block-start: 0;
  padding: 0.5rem 0 0 0;
  display: grid;
  place-items: center;
  height: 1rem;
}
