.tile.DemoTile {
  display: block;
  width: 100%;
  appearance: none;
  cursor: pointer;
  text-align: start;
  padding: 0;

  font-size: var(--sz-body);
  color: black;
  background-color: white;

  border-radius: 1rem;

  .p-4 {
    padding: 0.5rem 0.75rem;
  }

  /* h2 {
    font-size: var(--sz-h1);

    @media (width < 750px) {
      font-size: var(--sz-body);
    }
  } */

  svg {
    transition: translate 100ms ease-out;
  }

  &:where(:hover, :focus-visible) {
    filter: brightness(1.1);

    svg {
      transition: translate 200ms ease-out;
      translate: 4px 0;
    }
  }

  &:active {
    filter: brightness(0.95);
  }

  &:focus-visible {
    outline: solid calc(var(--outline-width) + 0px) var(--outline-color);
    outline-offset: var(--outline-offset);
    box-shadow: 0 0 0 2px var(--c-neo-white);
  }
}

.DemoTile__header {
  border-block-end: solid var(--border-width) var(--border-color);
}
